.loading {
    display: flex;
    align-items: center;
    justify-content: center;

    .loading-img {
        max-width: 800px;
        max-height: 500px;
    }
}

.filters {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 20px;

    .type-filter {
        min-width: 150px;
        margin-left: 20px;
    }
}

.card-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    .card {
        margin-right: 20px;
        margin-bottom: 20px;
    }
}

.footer {
    display: flex;
    justify-content: center;
}